<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>Edit clip</.header>
  <div class="mt-8">
    <.clip_form
      changeset={@changeset}
      action={~p"/admin/clips/#{@clip}"}
      method="put"
      submit_label="Save changes"
      thumbnail={@clip.thumbnail_path}
    />
  </div>
</Layouts.app>
