<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>Edit cast member</.header>
  <div class="mt-8">
    <.member_form
      changeset={@changeset}
      action={~p"/admin/ensemble/#{@member}"}
      method="put"
      submit_label="Save changes"
      headshot={@member.headshot_path}
    />
  </div>
</Layouts.app>
