<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>Add ensemble member</.header>
  <div class="mt-8">
    <.member_form changeset={@changeset} action={~p"/admin/ensemble"} submit_label="Add member" />
  </div>
</Layouts.app>
